body {
	font-family: "Courier", sans-serif;
	text-align: center;
}

#canvas {
	display: block;
	margin: 0 auto;
}

#countdown {
	position: absolute;
	width: 10%;
	height: 10%;
	top: 25%;
	left: 45%;
	color: #FFF;
}